<template>
  <div class="dashboard-container">
    <div class="app-container">
      <h2>
        {{ title }}
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: '{{ properCase name }}Page',
  components: {},
  data() {
    return {

    }
  },
  created() {},
  mounted() {},
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
